@import url('https://fonts.googleapis.com/css?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

/* GLOBAL STYLES */

html {
  box-sizing: border-box;
}

/* box size reset */
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Quando', Times, serif;
  font-size: 4rem;
}

h2 {
  font-family: 'Quando', Times, serif;
  font-size: 3rem;
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  width: 96px;
  height: 48px;
  border: none;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

.highlight-btn {
  background: var(--yellow);
}

:root {
  --blue: #699bfc;
  --yellow: #f7b82b;
}

input:focus,
button:focus,
select:focus {
  outline: 0;
}
